
.top-nav {
    position: relative;
    padding-bottom: 1.8rem;
    padding-top: 0.5rem;
    background-color: rgb(19, 16, 16);

    .logo {
        height: 80px;
        margin-left: 0.5rem;
    }

    .main-menu {
    
        .main-menu-item {
            margin: 0;
            padding: 0;
            display: inline;
            
            
            a {
                padding: 0.3rem;
                display: inline-block;
                text-decoration: none;
                color: #eeeaea;
                background-color: #d65829;
            }
        }
    }

    .auth-menu {
        margin: 0 auto 0 1rem;
    }
}

.am_footer{
    font-size: inherit;
}